@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

body {
  background-image: url("imgs/art.jpg");
	height:100%;
	font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  margin-left: 35%;
}

h1{
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  color: white;
  font-family: 'Rock Salt', cursive;
  font-size: 70px;
  margin-bottom: 0px;
  margin-left: -2%;
}

h4 {
  display: inline;
}

h2{
  margin-top: -10px;
  font-size: 25px;
  margin-left: -30px;
}

h3{
  font-size: 25px;
  margin-left:-8%;
  color: white;
}

button{
  margin-top: -15px;
  padding: 10px;
  margin-left: 15px;
  font-size: 20px;
  background-color: rgba(48, 37, 48, .5);
  color: white;
  border: 0;
  border-radius: 4px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}

i{
  font-size: 15px;
}

hr {
  width: 30%;
  margin-left: 70px;
  color: white;
}

a {
  text-decoration: none;
}

button:hover{
  background-color: rgba(48, 37, 48, .7);
  color: white;
}

input {
  display: block;
}

.login {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}

#alias{
  width: 33%;
}

input {
	width: 50%;
	margin-bottom: 10px;
  margin-left: -5%;
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 20px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

.responses {
  border-radius: 4px;
  text-align: center;
  display: none;
  visibility: hidden;
  margin-top: 20px;
  margin-left: 5%;
  width: 30%;
  padding: 10px;
  font-size: 20px;
  background-color: rgba(48, 37, 48, .5);
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}

#domainIdentification{
  position:relative;
  bottom: 40px;
  left: 335px;
  color: white;
  font-size: 22px;
  margin: 0;
  width: 180px;
}

.question{
  margin-left: -5%;
  border-radius: 4px;
  margin-top: 20px;
  width: 30%;
  padding: 10px;
  font-size: 20px;
  background-color: rgba(48, 37, 48, .5);
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}

.answer{
  margin-left: 15%;
  border-radius: 4px;
  margin-top: 20px;
  width: 30%;
  padding: 10px;
  font-size: 20px;
  background-color: rgba(48, 37, 48, .5);
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}

#ContactUs {
  margin-left: -4%;
  border-radius: 4px;
  margin-top: 20px;
  width: 50%;
  padding: 10px;
  font-size: 20px;
  background-color: rgba(48, 37, 48, .5);
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
  text-align: center;
}

#AliasContainer {
  margin-top: 30px;
}

#createAliasButton{
  margin-left: -1%;
}

#goToMainPage{
  margin-left: 13.5%;
  color:red;
  margin-top: 20px;
  margin-bottom: 35px;
}

.positiveResponse{
  color: Chartreuse;
}

.negativeResponse{
  color:red;
}

.neutralResponse{
  color:grey;
}
