@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Anonymous+Pro');

body {
  background-image: url("imgs/art.jpg");
  height:100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0% 0% 0% 37%;
}

h1{
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  color: white;
  font-family: 'Rock Salt', cursive;
  font-size: 4.5em;
  margin-bottom: 0%;
  margin-left: -2%;
}

h4 {
  display: inline;
}

h2{
  margin-top: -2%;
  font-size: 1.2em;
  margin-left: 3%;
}

h3{
  font-size: 1.5em;
  margin-left: -6%;
  color: white;
}

button{
  margin-top: -1%;
  padding: 1%;
  margin-left: 1.5%;
  font-size: 1.2em;
  background-color: rgba(48, 37, 48, .5);
  color: black;
  border: 0;
  border-radius: 0.3em;
  text-shadow: 0em .19em 0em rgba(0,0,0,0.3);
}

i{
  font-size: 0.7em;
}

hr {
  width: 30%;
  margin-left: 7%;
  color: white;
}

a {
  color: inherit;
  text-decoration: underline;
}

button:hover{
  background-color: rgba(48, 37, 48, .7);
  color: white;
  cursor: pointer;
}

input {
  display: block;
  width: 50%;
  margin-bottom: 1%;
  margin-left: -4%;
  background: rgba(0,0,0,0.3);
  padding: 1%;
  font-size: 1.2em;
  color: #fff;
  border: .07em solid rgba(0,0,0,0.3);
  border-radius: .2em;
  box-shadow: inset 0 -.5em 4.5em rgba(0,0,0,0.2), 0 .09em rgba(255,255,255,0.2);
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  -ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
}

input:focus { box-shadow: inset 0 -.5em 4.5em rgba(100,100,100,0.4), 0 .09em rgba(255,255,255,0.2); }

.question,.answer{
  margin-left: -5%;
  border-radius: .2em;
  margin-top: 1em;
  width: 30%;
  padding: 1%;
  font-size: 1.2em;
  background-color: rgba(48, 37, 48, .5);
  color: white;
  box-shadow: inset 0 -.5em 4.5em rgba(100,100,100,0.2),0 .06em rgba(255,255,255,0.2);
}

.answer{
  margin-left: 15%;
}

.positiveResponse{
  color: Chartreuse;
}

.negativeResponse{
  color:red;
}

.neutralResponse{
  color:Gainsboro;
}

.navigation{
  margin: .5%;
  padding: .6%;
  font-size: 0.9em;
  background-color: transparent;
  box-shadow: none;
  text-shadow: none;
}

.canaryImages{
  height: 2.5em;
  display: inline;
  float: left;
}

.canaryClause{
  padding: 1%;
}

.canaryClause > p {
  margin-top: .9%;
  margin-left: 5%;
  font-family: "Anonymous Pro", monospace;
}

#upperNav{
  margin-left: 11.5%;
  margin-top: -0.7%;
  margin-bottom: 0.4%;
}

#lowerNav{
  margin-left: 3.6%;
  margin-bottom: -0.7%;
  margin-top: -1.4%;
}

#domainIdentification{
  position: relative;
  bottom: 2em;
  left: 31.5%;
  color: white;
  font-size: 1.3em;
  margin: 0% 0% 0% .5%;
  width: 3em;
}

#ContactUs {
  margin-left: -4%;
  border-radius: .4em;
  width: 50%;
  padding: 1%;
  font-size: 1.2em;
  background-color: rgba(48, 37, 48, .5);
  color: white;
  box-shadow: inset 0 -.5em 4.5em rgba(100,100,100,0.2),0 .06em rgba(255,255,255,0.2);
  text-align: center;
}

#alias{
  width: 33%;
}

#createAliasButton{
  margin-left: 10%;
  color: white;
}

#deleteAliasButton{
  color: white;
}

#terms, #privacy, #canary, #canaryInfo {
  width: 100%;
  margin-left: -28%;
  margin-bottom: 5%;
  background: rgba(0,0,0,0.3);
  padding: 1%;
  font-size: 1em;
  color: #fff;
  border: 0.07em solid rgba(0,0,0,0.3);
  border-radius: .5em;
}

#canaryInfo{
  margin-bottom: 1%;
  text-align: center;
  font-size: 1em;
}

#terms > h3 {
  margin-left: 1%;
}

#contactLabel {
  margin-left: 13%;
}

#canaryLabel {
  margin-left: 15.1%;
}

#aboutLabel {
  margin-left: 13%;
}

#termsLabel {
  margin-left: 14%;
}

#privacyLabel {
  margin-left: 15%;
}

#versionIdentificationDiv {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #fefffd;
  color: black;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.3%;
  padding-right: 0.3%;
  border-radius: .5em;
  opacity: .2;
  text-align: center;
}

#timer {
  font-size: 1.2em;
  margin: 5% 0 0 0;
  font-weight: bold;
}

#copyAliasButton{
  color:white;
  margin-left: 16%;
  padding: 3%;
}

#responseHeader{
  font-size: 1.4em;
  margin: 1%;
  display: none;
  visibility: hidden;
}

#responseMessage{
  display: none;
  visibility: hidden;
}

#responseDiv {
  border-radius: .2em;
  text-align: center;
  display: none;
  visibility: hidden;
  margin-top: 2%;
  margin-left: 7%;
  margin-bottom: 2%;
  width: 30%;
  padding: 1%;
  font-size: 1em;
  background-color: rgba(48, 37, 48, .5);
  color: white;
  box-shadow: inset 0 -.5em 4.5em rgba(100,100,100,0.2),0 .06em rgba(255,255,255,0.2);
}

#currentDate {
  text-align: center;
}